* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 90rem;
}

img {
    max-width: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: Georgia, serif;
    text-transform: uppercase;
    color: #575757;
    font-weight: normal;
}

header {
    padding: clamp(2rem, 5vw, 3rem);
    margin: 0 auto;
    display: flex;
    max-width: var(--max-width);
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;

    & ul {
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        list-style: none;
    }
}

.section {
    padding: clamp(1rem, 5vw, 3rem) 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
    border: 1px solid cyan;
}

.works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.work__img {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
}

footer {
    border: 1px solid green;
    padding: clamp(2rem, 5vw, 3rem);
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: var(--max-width);

    & ul {
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        list-style: none;

        & li {
            height: 300px;
        }
    }
}
